openapi: 3.0.0
info:
  title: Canopy Servicing Core API
  description: >-
    **API Overview** 
     Canopy allows you to easily manage credit, installment, or other more complex lending programs from a servicing and compliance perspective - whether newly launched or migrated from existing systems. Using Canopy, you can track balances and transactions for each customer of your product, both in real-time and historically. You can see how various policy and product changes would impact your customers, and readily generate compliance reports and minimize your risk with all real-time information always on hand. 
     
     Canopy additionally surfaces information around all of your lending activity through its intuitive UI which provides a customer support interface as well as at-a-glance data needed for compliance and insights. 
     
     Simply configure your product’s policies through our Create Product API endpoint, and then you can immediately begin adding customer accounts and relying on Canopy for accurate servicing information.
  termsOfService: https://canopyservicing.com/terms/
  contact:
    email: dev@canopyservicing.com
  version: "1.3"
x-topics:
  - title: Getting Started
    content: >-
      *Get started in four easy steps.* 
       
       1) Review the [Authentication](https://docs.canopyservicing.com/#topic-authentication) section to connect and experiment with our Sandbox environment. 
       
       2) [Contact us](mailto:support@canopyservicing.com?subject=API%20Access%20Request) to request Production API Keys and learn more about our business. 
       
       3) Configure policies 
       &nbsp; &nbsp; &nbsp; a) For most uses, we recommend using the [Policy Management Dashboard](https://admin.canopyservicing.com) 
       &nbsp; &nbsp; &nbsp; b) If you will be configuring many credit products programmatically or require niche configurations, you can also configure products in Canopy directly through our Policy Management API. 
       
       4) Once your product is configured and launched in Canopy, you have access to the full power of the Servicing API! You can take advantage of sample workflows provided by our team, or construct your own using this API documentation.
  - title: Authentication
    content: To create your organization within Canopy, [contact our
      team](mailto:support@canopyservicing.com?subject=API%20Access%20Request).
      Once created, review our API Users routes to handle all subsequent
      authentication-related activities, including inviting your team members to
      join your organization.
  - title: Troubleshooting
    content: See a [detailed overview of error codes supported by Canopy and their
      meanings.](https://www.notion.so/canopy1/External-API-Status-Codes-576e6b9e43154db286d39a9aba1391aa)
servers:
  - url: https://sandbox.canopyservicing.com
    description: Sandbox
security:
  - api_key: []
tags:
  - name: api_users
    description: Authenticate to use the appropriate environment (sandbox or
      production) within Canopy
  - name: products
    description: Create and launch credit products within the Canopy system.
  - name: customers
    description: Onboard customers into your system, so they can begin using your
      credit products
  - name: accounts
    description: Manage the way your users use credit products you've launched in Canopy
  - name: line_items
    description: Manage individual line items for your customers in Canopy.
  - name: notes
    description: Help your customer service team track its activity across accounts.
  - name: customers
    description: Onboard customers into your system, so they can begin using your
      credit products
  - name: statements
    description: Generate per billing cycle statements for your accounts in Canopy.
paths:
  /api_users:
    post:
      tags:
        - authentication
      summary: Invite a new API user to Canopy
      operationId: createApiUser
      description: When you create a new API user via this `POST` request, an email
        invite will be sent for the new user to join your organization. The
        email invite includes a link with a unique token that will allow the new
        user to register to join your team in Canopy.
      requestBody:
        $ref: "#/components/requestBodies/CreateApiUser"
      responses:
        "200":
          $ref: "#/components/responses/CreateApiUser"
        "422":
          description: Invalid input.
    get:
      security:
        - api_key: []
      tags:
        - authentication
      summary: Get all API users in your organization
      description: Returns a list of all API users in your organization.
      operationId: getApiUsers
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/ApiUsers"
        "404":
          description: No Api Users found
  /api_users/login:
    post:
      tags:
        - authentication
      summary: Log in as an API user
      operationId: logInApiUser
      description: When provided appropriate credentials, this route signs in an API user.
      requestBody:
        $ref: "#/components/requestBodies/LogInApiUser"
      responses:
        "200":
          $ref: "#/components/responses/LogInApiUser"
        "404":
          description: Not found.
  /api_users/password:
    put:
      tags:
        - authentication
      summary: Update the password for an API User
      operationId: updateApiUserPassword
      description: When provided appropriate credentials, this route changes an API
        User's password.
      requestBody:
        $ref: "#/components/requestBodies/UpdateApiUserPassword"
      responses:
        "200":
          $ref: "#/components/responses/UpdateApiUserPassword"
        "404":
          description: Not found.
  /api_users/register:
    put:
      tags:
        - authentication
      summary: Complete registration for an invited API user
      operationId: registerApiUserPassword
      description: When provided appropriate credentials, this route updates an API
        user's information for registration.
      requestBody:
        $ref: "#/components/requestBodies/RegisterApiUser"
      responses:
        "200":
          $ref: "#/components/responses/RegisterApiUser"
        "404":
          description: Not found.
  /api_users/summary:
    get:
      security:
        - api_key: []
      tags:
        - authentication
      summary: Get summary info for an API user
      description: Get all summarized information pertaining to the API user making
        the request.
      operationId: getApiUser
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/ApiUser"
        "404":
          description: No API user found.
  /products:
    post:
      security:
        - api_key: []
      tags:
        - products
      summary: Create a new product
      operationId: createProduct
      description: >-
        At its core, Canopy allows you to create credit products that meet the
        specific needs of your users. We offer robust options to configure these
        products within our system. 
         
         For most use cases, we recommend configuring products by sending an excel file detailing your preferred configurations to the [Canopy team](mailto:support@canopyservicing.com?subject=API%20Access%20Request); however, you can also configure and manage products programmatically using this API documentation. 
         
         Request body for creating a new product.
      requestBody:
        $ref: "#/components/requestBodies/CreateProduct"
      responses:
        "200":
          $ref: "#/components/responses/CreateProduct"
        "422":
          description: Invalid input
    get:
      security:
        - api_key: []
      tags:
        - products
      summary: Get all available products
      description: If you have configured and launched multiple products within
        Canopy, retrieve information related to all of your configured products
        at once.
      operationId: getProducts
      parameters:
        - name: offset
          in: query
          description: The zero-indexed starting point for paginated product requests
            sorted by reverse product created date.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "110"
        - name: limit
          in: query
          description: The maximum number of products to be returned. Defaults to 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "50"
      responses:
        "200":
          $ref: "#/components/responses/Products"
        "404":
          description: Unable to get products
  /customers/accounts:
    get:
      tags:
        - customers
      summary: Get all accounts for all customers
      description: Returns all accounts from the perspective of each customer. For
        instance, if one account has two customers, these are reflected as two
        separate items in the response array. Similarly, if one customer has
        multiple accounts, each account is reflected as a separate item in the
        response array.
      operationId: getCustomersAccounts
      parameters:
        - name: offset
          in: query
          description: The zero-indexed starting point for paginated customer account
            requests sorted by account created date.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "110"
        - name: limit
          in: query
          description: The maximum number of customer accounts to be returned. Defaults to
            100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "50"
      responses:
        "200":
          $ref: "#/components/responses/CustomerAccounts"
        "404":
          description: Unable to get customers
  /customers:
    post:
      security:
        - api_key: []
      tags:
        - customers
      summary: Create a new customer
      operationId: CreateCustomer
      description: Customer can be created within Canopy with attached data managed in
        a secure and compliant way to facilitate providing the best service for
        products created through Canopy.
      requestBody:
        $ref: "#/components/requestBodies/CreateCustomer"
      responses:
        "200":
          $ref: "#/components/responses/CreateCustomer"
        "422":
          description: Invalid input
  "/customers/{customer_id}":
    put:
      security:
        - api_key: []
      tags:
        - customers
      summary: Update an existing customer
      operationId: UpdateCustomer
      description: Update data for a customer in Canopy.
      parameters:
        - name: customer_id
          in: path
          description: The ID of the customer to be updated.
          required: true
          style: simple
          explode: true
          schema:
            type: string
            format: uuid
            example: 975d11ab-92d3-489e-9aa5-8d0277b0222a
      requestBody:
        $ref: "#/components/requestBodies/UpdateCustomer"
      responses:
        "200":
          $ref: "#/components/responses/UpdateCustomer"
        "422":
          description: Invalid input
    get:
      tags:
        - customers
      summary: Get a specific customer
      description: Returns summary information for a specific customer.
      operationId: getCustomer
      parameters:
        - name: customer_id
          in: path
          description: The ID of the customer to return.
          required: true
          style: simple
          example: true
          schema:
            type: string
            example: Coco Parker
      responses:
        "200":
          $ref: "#/components/responses/Customer"
        "404":
          description: Unable to get customer
  /accounts:
    post:
      security:
        - api_key: []
      tags:
        - accounts
      summary: Create a new account
      description: At least one account should be created for customer of each of your
        products. Once created, you will be able to add `line_items` to the
        account.
      operationId: createAccount
      requestBody:
        $ref: "#/components/requestBodies/CreateAccount"
      responses:
        "200":
          $ref: "#/components/responses/CreateAccount"
        "422":
          description: Invalid input
  "/accounts/{account_id}":
    get:
      tags:
        - accounts
      summary: Get a specific Account
      description: ""
      operationId: getAccount
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
            example: a361c813-92e5-4765-82ea-9df368a81a89
      responses:
        "200":
          $ref: "#/components/responses/Account"
        "404":
          description: Account not found
  "/accounts/{account_id}/notes":
    post:
      tags:
        - notes
      summary: Create a note for a specific account.
      description: A note to be added to the account.
      operationId: createAccountNote
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/CreateNote"
      responses:
        "200":
          $ref: "#/components/responses/CreateNote"
        "422":
          description: Invalid input
    get:
      tags:
        - notes
      summary: Get All Notes for a specific Account
      description: ""
      operationId: getNotes
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
            example: a361c813-92e5-4765-82ea-9df368a81a89
      responses:
        "200":
          $ref: "#/components/responses/Notes"
        "404":
          description: Note not found
  "/accounts/{account_id}/line_items":
    get:
      tags:
        - line_items
      summary: Get line items for a specific account.
      description: Line Items for an Account include `charges` to the account and
        `payments` by the account holder. Results are paginated and sorted by
        line item effective date.
      operationId: getAccountLineItems
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          description: The zero-indexed starting point for paginated line item requests
            sorted by line item effective date.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "110"
        - name: limit
          in: query
          description: The maximum number of line items to be returned. Defaults to 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "50"
      responses:
        "200":
          $ref: "#/components/responses/LineItems"
        "404":
          description: Line Items not found
  "/accounts/{account_id}/line_items/{line_item_id}":
    get:
      tags:
        - line_items
      summary: Get information on a specific line item for a specific account
      description: ""
      operationId: getAccountLineItem
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
            example: 17d25206-1012-4576-89f0-c5fe128edd3e
        - name: line_item_id
          in: path
          description: Line Item ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
            example: 8f0a3e81-24b9-4d32-b15b-a59257ed7485
      responses:
        "200":
          $ref: "#/components/responses/LineItemWithChildren"
        "404":
          description: Line Items not found
  "/accounts/{account_id}/line_items/charges":
    post:
      tags:
        - line_items
      summary: Create a charge for a specific account
      description: ""
      operationId: createAccountCharge
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/CreateCharge"
      responses:
        "204":
          $ref: "#/components/responses/CreateCharge"
        "422":
          description: Invalid input
  "/accounts/{account_id}/line_items/payments":
    post:
      tags:
        - line_items
      summary: Create a payment for a specific account
      description: ""
      operationId: createAccountPayment
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/CreatePayment"
      responses:
        "200":
          $ref: "#/components/responses/CreatePayment"
        "422":
          description: Invalid input
  "/accounts/{account_id}/statements/list":
    get:
      tags:
        - statements
      summary: Get a list of all current and prior statements for a specific account
      description: List of statements for the account. To view line items for a
        specific statement, use the `/accounts/{account_id}/statements` route
      operationId: getAccountStatementsList
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: offset
          in: query
          description: The zero-indexed starting point for paginated statements list
            requests sorted by reverse statement date.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "110"
        - name: limit
          in: query
          description: The maximum number of accounts to be returned. Defaults to 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: "50"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountStatementSummary"
        "404":
          description: Statements not found
  "/accounts/{account_id}/statements/{statement_id}":
    get:
      tags:
        - statements
      summary: Get a specific statement for a specific account.
      description: This will return a statement that corresponds with the passed
        Statement ID. Relevant IDs for an account's historical statements can be
        obtained from the `accounts/{account_id}/statements/list` route.
      operationId: getAccountStatement
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: statement_id
          in: path
          description: The ID of a specific statement you would like returned.
          required: true
          style: simple
          explode: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/AccountStatement"
        "404":
          description: Statement not found
  "/accounts/{account_id}/amortization_schedule":
    get:
      tags:
        - amortization_schedule
      summary: Get the amortization schedule for a specific loan
      description: ""
      operationId: getAmortizationSchedule
      parameters:
        - name: account_id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
            example: 17d25206-1012-4576-89f0-c5fe128edd3e
        - name: offset
          in: query
          description: The zero-indexed starting point for paginated line item requests
            sorted by line item effective date.
          required: false
          style: form
          explode: true
          schema:
            type: number
            example: "110"
        - name: limit
          in: query
          description: The maximum number of line items to be returned. Defaults to 100.
          required: false
          style: form
          explode: true
          schema:
            type: number
            example: "50"
      responses:
        "200":
          $ref: "#/components/responses/AmortizationSchedule"
        "404":
          description: Amortization Schedule not found
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
  schemas:
    ApiUser:
      type: object
      required:
        - api_user_id
        - organization_name
        - email
        - role
      properties:
        api_user_id:
          type: integer
          description: The unique ID in Canopy for this API user
          example: 23
        organization_name:
          type: string
          description: The organization to which the API user belongs.
          example: Lever Card 3000
        name_first:
          type: string
          description: The first name of the API user.
          example: Analise
        name_last:
          type: string
          description: The last name of the API user.
          example: Goldberg
        email:
          type: string
          format: email
          description: The email address of this API User
          example: marissa@globex.com
        phone:
          type: string
          format: phonenumber
          description: Phone number of the API user
          example: 1-123-456-7890
        role:
          type: string
          enum:
            - SERVICING
            - OPERATIONS
            - ADMIN
          description: The role of this user in the API
          example: SERVICING
    Account:
      additionalProperties: false
      type: object
      required:
        - account_id
        - created_at
        - effective_at
      properties:
        account_id:
          type: integer
          description: This is generated by Canopy. A unique ID for the account.
          example: 9
        created_at:
          type: string
          description: The `Date-Time` which the account was created in the API.
          format: date-time
          example: 2017-06-20T09:12:14Z
        effective_at:
          type: string
          description: The `Date-Time` that this account became/becomes active.
          format: date-time
          example: 2018-03-20T09:12:28Z
        account_overview:
          type: object
          required:
            - account_status
          properties:
            account_status:
              type: string
              description: The Status of the Account. Active upon account creation.
              example: suspended
            account_status_subtype:
              type: string
              description: The subtype of the Status of the Account. Null upon account
                creation.
              example: suspended-bankruptcy
        account_product:
          type: object
          description: The product associated with the account
          required:
            - product_id
          properties:
            product_id:
              type: integer
              description: The Canopy-generated ID for the product.
              example: 4
            external_product_id:
              type: string
              description: A unique external ID that may be used interchangeably with the
                Canopy-generated product ID
              example: 95fea111-d121-40f8-9e8e-a6c335e48a45
            product_overview:
              type: object
              required:
                - product_name
                - product_type
                - product_long_description
              properties:
                product_name:
                  type: string
                  description: Name of Product, i.e. Express Card.
                  example: Blue Cash Express
                product_color:
                  type: string
                  description: A color to be associated with the product for UI purposes.
                  example: "#0000FF"
                product_short_description:
                  type: string
                  description: Short description of the Product - max of 30 characters.
                  example: Consumer credit card
                product_long_description:
                  type: string
                  description: Description of the Product.
                  example: Student credit card.
                product_type:
                  type: string
                  description: The Type of Product. If not included, defaults to `REVOLVING`
                  enum:
                    - REVOLVING
                    - INSTALLMENT
                    - SAME_AS_CASH_INSTALLMENT
                    - FIXED_RATE_INSTALLMENT
                    - MIXED_RATE_INSTALLMENT
                    - ZERO_INTEREST_INSTALLMENT
                  example: REVOLVING
            product_lifecycle:
              type: object
              required:
                - late_fee_impl_cents
                - payment_reversal_fee_impl_cents
              properties:
                late_fee_impl_cents:
                  type: number
                  description: The fee charged for late payments on the account.
                  example: 2900
                payment_reversal_fee_impl_cents:
                  type: number
                  description: The fee charged for payment reversals on the account.
                  example: 2900
                loan_end_date:
                  type: string
                  format: date-time
                  description: If applicable, the account's loan repayment date.
                  example: 2013-01-13T05:25:13.813Z
            promo_overview:
              type: object
              properties:
                promo_purchase_window_inclusive_start:
                  type: string
                  format: date-time
                  description: If applicable, the start date for a purchase window for the account
                  example: 2013-01-13T05:25:13.813Z
                promo_purchase_window_exclusive_end:
                  type: string
                  format: date-time
                  description: If applicable, the end date for a purchase window for the account
                  example: 2013-01-13T05:25:13.813Z
                promo_inclusive_start:
                  type: string
                  format: date-time
                  description: If applicable, the start date for a promotional period for the
                    account.
                  example: 2013-01-13T05:25:13.813Z
                promo_exclusive_end:
                  type: string
                  format: date-time
                  description: If applicable, the start date for a promotional period for the
                    account.
                  example: 2013-01-13T05:25:13.813Z
                promo_impl_interest_rate_percent:
                  type: number
                  description: The percentage interest applied to the account during the
                    promotional period (i.e. 6.2%)
                  example: 6.2
            post_promo_overview:
              type: object
              properties:
                post_promo_inclusive_start:
                  type: string
                  format: date-time
                  description: If applicable, the start date for a promotional period for the
                    account.
                  example: 2013-01-13T05:25:13.813Z
                post_promo_exclusive_end:
                  type: string
                  format: date-time
                  description: If applicable, the start date for a promotional period for the
                    account.
                  example: 2013-01-13T05:25:13.813Z
                post_promo_impl_interest_rate_percent:
                  type: number
                  description: The percentage interest applied to the account during the
                    post-promotional period (i.e. 6.2%)
                  example: 6.2
                post_promo_impl_am_len:
                  type: integer
                  description: If applicable, post-promotional amortization length in cycles.
                  example: 48
            product_duration_information:
              type: object
              properties:
                promo_len:
                  type: integer
                  description: The number of billing cycles from account origination during which
                    accounts on this product are on a promotional period.
                  example: 6
                promo_purchase_window_len:
                  type: number
                  description: If applicable, the number of billing cycles from account
                    origination under which this product falls under a purchas
                    window period.
                  example: 5
        external_fields:
          type: array
          description: An Array of External Fields. These should be used to connect
            accounts created in Canopy to Users in your system and any connected
            external systems.
          items:
            type: object
            properties:
              key:
                type: string
                description: "key: i.e. Name of the External Party"
                example: Umbrella Corporation
              value:
                type: string
                description: "value: i.e. External Account ID"
                example: 22445702-a389-431f-927d-07b8d0750787
        min_pay_due_cents:
          type: object
          required:
            - min_pay_cents
            - min_pay_due_at
          properties:
            min_pay_cents:
              type: integer
              description: Total amount due for the billing cycle, summing cycle principal,
                interest, deferred interest, and fees outstanding.
              example: 160000
            min_pay_due_at:
              type: string
              format: date-time
              description: The `Date-Time` the payment for this billing cycle is due.
              example: 2019-10-18T23:04:48.321Z
        additional_min_pay_details:
          type: object
          required:
            - min_pay_root_principal_cents
            - min_pay_interest_cents
            - min_pay_deferred_cents
            - min_pay_fees_cents
            - previous_min_pay_cents
          properties:
            min_pay_root_principal_cents:
              type: integer
              description: Total principal due for the billing cycle.
              example: 100000
            min_pay_interest_cents:
              type: integer
              description: Total interest due for the billing cycle.
              example: 30000
            min_pay_deferred_cents:
              type: integer
              description: Total deferred interest due for the billing cycle.
              example: 10000
            min_pay_fees_cents:
              type: integer
              description: Total fees due for the billing cycle.
              example: 20000
            previous_min_pay_cents:
              type: integer
              description: Previous amounts due, including fees. This is a subset of
                min_pay_cents.
              example: 400000
        summary:
          type: object
          required:
            - total_balance_cents
            - principal_cents
            - interest_balance_cents
            - deferred_interest_balance_cents
            - total_paid_to_date_cents
            - total_interest_paid_to_date_cents
            - credit_limit_cents
            - interest_rate_percent
            - available_credit_cents
          properties:
            total_balance_cents:
              type: number
              description: The total balance (in cents) associated with the account.
              example: 300000
            principal_cents:
              type: number
              description: The total balance (in cents) associated with the account.
              example: 200000
            interest_balance_cents:
              type: number
              description: The total interest balance (in cents) associated with the account.
              example: 60000
            deferred_interest_balance_cents:
              type: number
              description: The total deferred interest balance (in cents) associated with the
                account.
              example: 40000
            total_paid_to_date_cents:
              type: number
              description: The total sum of payments made to date (in cents) associated with
                the account.
              example: 40000
            total_interest_paid_to_date_cents:
              type: number
              description: The total sum of interest allocations for payments made to date (in
                cents) associated with the account.
              example: 10000
            credit_limit_cents:
              type: integer
              description: Total Amount (in cents) that this account can borrow.
              example: 400000
            max_approved_credit_limit_cents:
              type: integer
              description: Total Amount (in cents) that this account can borrow.
              example: 400000
            interest_rate_percent:
              type: number
              description: The percentage interest applied to the account (i.e. 6.2 means
                6.2%)
              example: 3
            available_credit_cents:
              type: number
              description: The total available credit balance (in cents) for the account.
              example: 100000
            open_to_buy_cents:
              type: integer
              description: If applicable, the total amount of available funds for continued
                purchase following a purchase window pattern, where payments
                made do not replenish amount available for purchase.
              example: 5000
        associated_entities:
          type: object
          properties:
            merchant_name:
              type: string
              description: A merchant name associated with the account
              example: Acme Corporation
            lender_name:
              type: string
              description: A lender name associated with the account
              example: Globex Lending Corp
    ComplexAccount:
      allOf:
        - additionalProperties: false
          type: object
          required:
            - account_id
            - created_at
            - effective_at
          properties:
            account_id:
              type: integer
              description: This is generated by Canopy. A unique ID for the account.
              example: 9
            created_at:
              type: string
              description: The `Date-Time` which the account was created in the API.
              format: date-time
              example: 2017-06-20T09:12:14Z
            effective_at:
              type: string
              description: The `Date-Time` that this account became/becomes active.
              format: date-time
              example: 2018-03-20T09:12:28Z
            account_overview:
              type: object
              required:
                - account_status
              properties:
                account_status:
                  type: string
                  description: The Status of the Account. Active upon account creation.
                  example: suspended
                account_status_subtype:
                  type: string
                  description: The subtype of the Status of the Account. Null upon account
                    creation.
                  example: suspended-bankruptcy
            account_product:
              $ref: "#/components/schemas/Account/properties/account_product"
              description: The product associated with the account
            external_fields:
              type: array
              description: An Array of External Fields. These should be used to connect
                accounts created in Canopy to Users in your system and any
                connected external systems.
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: "key: i.e. Name of the External Party"
                    example: Umbrella Corporation
                  value:
                    type: string
                    description: "value: i.e. External Account ID"
                    example: 22445702-a389-431f-927d-07b8d0750787
            min_pay_due_cents:
              type: object
              required:
                - min_pay_cents
                - min_pay_due_at
              properties:
                min_pay_cents:
                  type: integer
                  description: Total amount due for the billing cycle, summing cycle principal,
                    interest, deferred interest, and fees outstanding.
                  example: 160000
                min_pay_due_at:
                  type: string
                  format: date-time
                  description: The `Date-Time` the payment for this billing cycle is due.
                  example: 2019-10-18T23:04:48.321Z
            additional_min_pay_details:
              type: object
              required:
                - min_pay_root_principal_cents
                - min_pay_interest_cents
                - min_pay_deferred_cents
                - min_pay_fees_cents
                - previous_min_pay_cents
              properties:
                min_pay_root_principal_cents:
                  type: integer
                  description: Total principal due for the billing cycle.
                  example: 100000
                min_pay_interest_cents:
                  type: integer
                  description: Total interest due for the billing cycle.
                  example: 30000
                min_pay_deferred_cents:
                  type: integer
                  description: Total deferred interest due for the billing cycle.
                  example: 10000
                min_pay_fees_cents:
                  type: integer
                  description: Total fees due for the billing cycle.
                  example: 20000
                previous_min_pay_cents:
                  type: integer
                  description: Previous amounts due, including fees. This is a subset of
                    min_pay_cents.
                  example: 400000
            summary:
              type: object
              required:
                - total_balance_cents
                - principal_cents
                - interest_balance_cents
                - deferred_interest_balance_cents
                - total_paid_to_date_cents
                - total_interest_paid_to_date_cents
                - credit_limit_cents
                - interest_rate_percent
                - available_credit_cents
              properties:
                total_balance_cents:
                  type: number
                  description: The total balance (in cents) associated with the account.
                  example: 300000
                principal_cents:
                  type: number
                  description: The total balance (in cents) associated with the account.
                  example: 200000
                interest_balance_cents:
                  type: number
                  description: The total interest balance (in cents) associated with the account.
                  example: 60000
                deferred_interest_balance_cents:
                  type: number
                  description: The total deferred interest balance (in cents) associated with the
                    account.
                  example: 40000
                total_paid_to_date_cents:
                  type: number
                  description: The total sum of payments made to date (in cents) associated with
                    the account.
                  example: 40000
                total_interest_paid_to_date_cents:
                  type: number
                  description: The total sum of interest allocations for payments made to date (in
                    cents) associated with the account.
                  example: 10000
                credit_limit_cents:
                  type: integer
                  description: Total Amount (in cents) that this account can borrow.
                  example: 400000
                max_approved_credit_limit_cents:
                  type: integer
                  description: Total Amount (in cents) that this account can borrow.
                  example: 400000
                interest_rate_percent:
                  type: number
                  description: The percentage interest applied to the account (i.e. 6.2 means
                    6.2%)
                  example: 3
                available_credit_cents:
                  type: number
                  description: The total available credit balance (in cents) for the account.
                  example: 100000
                open_to_buy_cents:
                  type: integer
                  description: If applicable, the total amount of available funds for continued
                    purchase following a purchase window pattern, where payments
                    made do not replenish amount available for purchase.
                  example: 5000
            associated_entities:
              type: object
              properties:
                merchant_name:
                  type: string
                  description: A merchant name associated with the account
                  example: Acme Corporation
                lender_name:
                  type: string
                  description: A lender name associated with the account
                  example: Globex Lending Corp
        - type: object
          required:
            - customers
          properties:
            customers:
              type: array
              description: An array of customers who have been assigned to the account
              items:
                type: object
                required:
                  - customer_id
                properties:
                  customer_id:
                    type: integer
                    description: A Canopy-generated unique ID for the customer
                    example: 8
                  name_prefix:
                    type: string
                    description: Prefix to the customer's name
                    example: Dr.
                  name_first:
                    type: string
                    description: Customer's first name
                    example: Miriam
                  name_middle:
                    type: string
                    description: Customer's middle name
                    example: Louise
                  name_last:
                    type: string
                    description: Customer's last name
                    example: Trevino
                  name_suffix:
                    type: string
                    description: Prefix to the customer's name
                    example: Jr
                  phone_number:
                    type: string
                    description: Phone number of the customer
                    example: 555-555-5555
                  address_line_one:
                    type: string
                    description: Address line one
                    example: 12 Strawberry Road
                  address_line_two:
                    type: string
                    description: Address line two
                    example: Suite 101
                  address_city:
                    type: string
                    description: Address city
                    example: Atlanta
                  address_state:
                    type: string
                    description: Address state
                    example: GA
                  address_zip:
                    type: string
                    description: Address zip code
                    example: 99999-1000
                  ssn:
                    type: string
                    description: Social security number of the customer
                    example: 888-88-8888
                  email:
                    type: string
                    format: email
                    description: The email address of this customer
                    example: marissa@protonmail.com
                  date_of_birth:
                    type: string
                    format: date-time
                    description: Customer's date of birth
                    example: 2018-06-20T09:12:30Z
    Customer:
      type: object
      required:
        - customer_id
      properties:
        customer_id:
          type: integer
          description: A Canopy-generated unique ID for the customer
          example: 8
        name_prefix:
          type: string
          description: Prefix to the customer's name
          example: Dr.
        name_first:
          type: string
          description: Customer's first name
          example: Miriam
        name_middle:
          type: string
          description: Customer's middle name
          example: Louise
        name_last:
          type: string
          description: Customer's last name
          example: Trevino
        name_suffix:
          type: string
          description: Prefix to the customer's name
          example: Jr
        phone_number:
          type: string
          description: Phone number of the customer
          example: 555-555-5555
        address_line_one:
          type: string
          description: Address line one
          example: 12 Strawberry Road
        address_line_two:
          type: string
          description: Address line two
          example: Suite 101
        address_city:
          type: string
          description: Address city
          example: Atlanta
        address_state:
          type: string
          description: Address state
          example: GA
        address_zip:
          type: string
          description: Address zip code
          example: 99999-1000
        ssn:
          type: string
          description: Social security number of the customer
          example: 888-88-8888
        email:
          type: string
          format: email
          description: The email address of this customer
          example: marissa@protonmail.com
        date_of_birth:
          type: string
          format: date-time
          description: Customer's date of birth
          example: 2018-06-20T09:12:30Z
    ComplexCustomer:
      allOf:
        - $ref: "#/components/schemas/ComplexAccount/allOf/1/properties/customers/items"
        - type: object
          properties:
            accounts:
              type: array
              description: An array of Accounts to which this Customer is assigned
              items:
                $ref: "#/components/schemas/ComplexAccount/allOf/0"
    AccountStatement:
      type: object
      description: Statement for an account for a given billing cycle
      required:
        - account_id
        - statement_id
        - effective_as_of_date
      properties:
        account_id:
          type: integer
          description: The Canopy-generated ID for the account
          example: 6
        statement_id:
          type: integer
          description: The Canopy-generated ID for the statement
          example: 8
        effective_as_of_date:
          type: string
          format: date-time
          description: The `Date-Time` you would like the system to return the data as of.
            IE tell me what the account information was as if I had asked on
            `2020-10-20 00:00:00 EST`. If empty it defaults to current time.
          example: 2018-07-20T09:10:14Z
        account_overview:
          type: object
          properties:
            promo_purchase_window_inclusive_start:
              type: string
              format: date-time
              description: If applicable, the `Date-Time` the purchase window for the account
                ends.
              example: 2015-08-31T10:49:44.461Z
            promo_purchase_window_exclusive_end:
              type: string
              format: date-time
              description: If applicable, the `Date-Time` the purchase window for the account
                ends.
              example: 2015-08-31T10:49:44.461Z
            promo_inclusive_start:
              type: string
              format: date-time
              description: If applicable, the `Date-Time` the promo period for the account
                starts.
              example: 2015-08-31T10:49:44.461Z
            promo_exlcusive_end:
              type: string
              format: date-time
              description: If applicable, the `Date-Time` the promo period for the account
                ends.
              example: 2015-08-31T10:49:44.461Z
            account_status:
              type: string
              description: The Status of the Account. Active upon account creation.
              example: suspended
            account_status_subtype:
              type: string
              description: The subtype of the Status of the Account. Null upon account
                creation.
              example: suspended-bankruptcy
        open_to_buy:
          type: object
          properties:
            credit_limit_cents:
              type: integer
              description: Total Amount (in cents) that this account can borrow.
              example: 400000
            total_charges_cents:
              type: integer
              description: Sum of all charges that occurred on the account since account
                origination.
              example: 800000
            available_credit_cents:
              type: integer
              description: The total available credit balance (in cents) for the account.
              example: 600000
            open_to_buy_cents:
              type: integer
              description: If applicable, the total amount of available funds for continued
                purchase following a purchase window pattern, where payments
                made do not replenish amount available for purchase.
        cycle_summary:
          type: object
          properties:
            cycle_inclusive_start:
              type: string
              format: date-time
              description: The inclusive starting `Date-Time` that defines which transations
                are part of this statement.
            cycle_exclusive_end:
              type: string
              format: date-time
              description: The inclusive ending `Date-Time` that defines which transations are
                part of this statement.
            cycle_charges_cents:
              type: integer
              description: Sum of all charges that occurred on the account during the billing
                cycle.
              example: 700000
            cycle_loans_cents:
              type: integer
              description: Sum of all loans amounts that were initiated on the account during
                the billing cycle.
              example: 700000
            cycle_charge_returns_cents:
              type: integer
              description: Sum of all returns that occurred on the account during the billing
                cycle.
              example: 100000
            cycle_payments_cents:
              type: integer
              description: Sum of all payments that occurred on the account during the billing
                cycle.
              example: 200000
            cycle_payment_reversals_cents:
              type: integer
              description: Sum of all payment reversal amounts that occurred on the account
                during the billing cycle.
              example: 200000
            cycle_debit_adjustments_cents:
              type: integer
              description: Sum of all debit adjustment amounts that occurred on the account
                during the billing cycle.
              example: 40000
            cycle_credit_adjustments_cents:
              type: integer
              description: Sum of all credit adjustment amounts that occurred on the account
                during the billing cycle.
              example: 53000
            cycle_interest_cents:
              type: integer
              description: Total interest accrued during the billing cycle.
              example: 110000
            cycle_deferred_interest_cents:
              type: integer
              description: Total interest accrued during the billing cycle.
              example: 300000
            cycle_late_fees_cents:
              type: integer
              description: Total late fees incurred during the billing cycle.
              example: 300000
            cycle_payment_reversals_fees_cents:
              type: integer
              description: Total payment reversal fees incurred during the billing cycle.
              example: 300000
            cycle_forgiven_deferred_interest_cents:
              type: integer
              description: Total deferred interest that was forgiven on the account during the
                billing cycle.
              example: 40000
        min_pay_due:
          type: object
          required:
            - min_pay_cents
            - min_pay_due_at
          properties:
            min_pay_cents:
              type: integer
              description: Total amount due for the billing cycle, summing cycle principal,
                interest, deferred interest, and fees outstanding.
              example: 160000
            min_pay_due_at:
              type: string
              format: date-time
              description: The `Date-Time` the payment for this billing cycle is due.
              example: 2019-10-18T23:04:48.321Z
        additional_min_pay_details:
          type: object
          required:
            - min_pay_root_principal_cents
            - min_pay_interest_cents
            - min_pay_deferred_cents
            - min_pay_fees_cents
            - previous_min_pay_cents
          properties:
            min_pay_charges_principal_cents:
              type: integer
              description: Total principal due for the billing cycle.
              example: 100000
            min_pay_interest_cents:
              type: integer
              description: Total interest due for the billing cycle.
              example: 30000
            min_pay_deferred_cents:
              type: integer
              description: Total deferred interest due for the billing cycle.
              example: 10000
            min_pay_fees_cents:
              type: integer
              description: Total fees due for the billing cycle.
              example: 20000
            previous_min_pay_cents:
              type: integer
              description: Previous amounts due, including fees. This is a subset of
                min_pay_cents.
              example: 400000
        balance_summary:
          type: object
          properties:
            charges_principal_cents:
              type: integer
              description: Total principal balance for the account.
              example: 900000
            loans_principal_cents:
              type: integer
              description: Total principal balance for loans for the account.
              example: 900000
            interest_balance_cents:
              type: integer
              description: Total interest balance for the account.
              example: 100000
            deferred_interest_balance_cents:
              type: integer
              description: Total deferred interest balance for the account.
              example: 700000
            fees_balance_cents:
              type: integer
              description: Total fee balance for the account.
              example: 700000
            total_balance_cents:
              type: integer
              description: The total balance (in cents) associated with the account.
              example: 400000
        payoff:
          type: object
          properties:
            total_payoff_cents:
              type: integer
              description: The total amount slated to pay off the account over the lifecycle
                of the loan.
              example: 1100000
    AccountStatementSummary:
      type: object
      description: Statement for an account for a given billing cycle
      required:
        - account_id
        - statement_id
        - effective_as_of_date
      properties:
        account_id:
          type: integer
          description: The Canopy-generated ID for the account
          example: 6
        statement_id:
          type: integer
          description: The Canopy-generated ID for the statement
          example: 8
        effective_as_of_date:
          type: string
          format: date-time
          description: The `Date-Time` you would like the system to return the data as of.
            IE tell me what the account information was as if I had asked on
            `2020-10-20 00:00:00 EST`. If empty it defaults to current time.
          example: 2018-07-20T09:10:14Z
        cycle_summary:
          type: object
          required:
            - cycle_inclusive_start
            - cycle_exclusive_end
          properties:
            cycle_inclusive_start:
              type: string
              format: date-time
              description: The inclusive starting `Date-Time` that defines which transations
                are part of this statement.
            cycle_exclusive_end:
              type: string
              format: date-time
              description: The inclusive ending `Date-Time` that defines which transations are
                part of this statement.
        min_pay_due_cents:
          type: object
          required:
            - min_pay_cents
            - min_pay_due_at
          properties:
            min_pay_cents:
              type: integer
              description: Total amount due for the billing cycle, summing cycle principal,
                interest, deferred interest, and fees outstanding.
              example: 160000
            min_pay_due_at:
              type: string
              format: date-time
              description: The `Date-Time` the payment for this billing cycle is due.
              example: 2019-10-18T23:04:48.321Z
        balance_summary:
          type: object
          required:
            - total_balance_cents
          properties:
            total_balance_cents:
              type: integer
              description: The total balance (in cents) associated with the account.
              example: 400000
    Product:
      required:
        - product_id
        - created_at
      type: object
      additionalProperties: false
      properties:
        product_id:
          type: integer
          description: The Canopy-generated ID for the product.
          example: 6
        external_product_id:
          type: string
          description: A unique external ID that may be used interchangeably with the
            Canopy-generated product ID
          example: 95fea111-d121-40f8-9e8e-a6c335e48a45
        created_at:
          type: string
          description: The `Date-Time` that this product was created on the server.
          format: date-time
          example: 2019-03-20T09:12:28Z
        product_overview:
          type: object
          description: A series of static fields about the product.
          required:
            - product_name
            - product_type
            - product_long_description
          properties:
            product_name:
              type: string
              description: Name of Product, i.e. Express Card.
              example: Blue Cash Express
            product_type:
              type: string
              description: The Type of Product
              enum:
                - REVOLVING
                - INSTALLMENT
                - SAME_AS_CASH_INSTALLMENT
                - FIXED_RATE_INSTALLMENT
                - MIXED_RATE_INSTALLMENT
                - ZERO_INTEREST_INSTALLMENT
              example: REVOLVING
            product_short_description:
              type: string
              description: A short description of the product ranging from 0 - 60 characters.
              example: 12mm3apr.
            product_long_description:
              type: string
              description: Description of the Product ranging from 0 - 1000.
              example: Student credit card.
            product_color:
              type: string
              description: A color to be associated with the product for UI purposes.
              example: "#0000FF"
            external_fields:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: client_product_id
                  value:
                    type: string
                    example: 3e93a899-d267-4193-8509-6dba53c13b7b
        product_lifecycle_policies:
          type: object
          properties:
            payment_due_policies:
              type: object
              required:
                - delinquent_on_n_consecutive_late_fees
                - charge_off_on_n_consecutive_late_fees
              properties:
                delinquent_on_n_consecutive_late_fees:
                  type: integer
                  description: After this number of consecutive late events, the account status
                    shifts to `suspended` with a status subtype of `delinquent`
                charge_off_on_n_consecutive_late_fees:
                  type: integer
                  description: After this number of consecutive late events, the account status
                    shifts to `suspended` with a status subtype of `charged_off`
              description: The set of policies governing payment due information for the
                product.
            fee_policies:
              type: object
              required: []
              properties:
                late_fee_grace:
                  type: string
                  description: Defaults to 0 days. The amount of time after a payment is late
                    after which you would like for a late fee to be incurred.
                  format: interval
                  example: 5 days
              description: "The set of policies governing fees for the product. "
            billing_cycle_policies:
              type: object
              required:
                - cycle_interval
              properties:
                cycle_interval:
                  type: string
                  description: The length of the billing cycle. after which a statement is
                    generated, and a due date assigned. IE '1 month' '3 months'
                    or '7 days' (most common is monthly)
                  format: interval
                  example: 1 month
                cycle_due_interval:
                  type: string
                  description: "Defaults to 0 days. The amount of time before statement cut that
                    the payment should be due for the billing cycle. If
                    positive, it will count days from the start of the cycle.
                    Note, this field has a signage convention: if negative, it
                    will count days back from the end of the cycle. IE '25 days'
                    indicates that payments are due 25 days after the statement
                    is cut. `-5` days indicates that payments will be due five
                    days prior to the cut of the *next* cycle. Cannot exceed the
                    duration of the billing cycle."
                  format: interval
                  example: -5 days
                first_cycle_interval:
                  type: string
                  description: Defaults to 0 days. If applicable, the amount of time you would
                    like between origination and the first statement cut. IE '10
                    days'. If you would like the first billing cycle to be the
                    same length as all other billing cycles, either do not
                    include this field in the request, or set its value to the
                    same as `billing_cycle_period`
                  format: interval
                  example: 25 days
                close_of_business_timetz:
                  type: string
                  description: Defaults to EST Midnight. Time and timezone of the close of
                    business. This is used for statement cuts and partner-level
                    and issuing bank-level reconciliation
                  example: 17:00.000001-05
              description: "The set of policies governing the billing cycle for the product. "
            interest_policies:
              type: object
              additionalProperties: false
              required: []
              properties:
                interest_calc_time:
                  type: string
                  description: Defaults to EST midnight. Interest for this policy is calculated at
                    this time every X interval.
                  format: date-time
                  example: 05:00:00
              description: The Interest Policy Object
            default_attributes:
              type: object
              required:
                - default_credit_limit_cents
              properties:
                default_credit_limit_cents:
                  type: integer
                  description: The default maximum principal credit (in cents) available for a
                    customer account. This default limit can be overridden on a
                    per-account basis if a `credit_limit` is selected at the
                    time of assigning an account to a product. Credit limits for
                    an account can also be updated post-account creation.
                  example: 600000
                default_late_fee_cents:
                  type: integer
                  description: The default maximum principal credit (in cents) available for a
                    customer account. This default limit can be overridden on a
                    per-account basis if a `credit_limit` is selected at the
                    time of assigning an account to a product. Credit limits for
                    an account can also be updated post-account creation.
                  example: 50000
                default_payment_reversal_fee_cents:
                  type: integer
                  description: The default maximum principal credit (in cents) available for a
                    customer account. This default limit can be overridden on a
                    per-account basis if a `credit_limit` is selected at the
                    time of assigning an account to a product. Credit limits for
                    an account can also be updated post-account creation.
                  example: 10000
        promotional_policies:
          type: object
          description: If applicable, a promotional configuration for the product.
          properties:
            promo_len:
              type: integer
              description: The number of billing cycles from account origination during which
                accounts on this product are on a promotional period.
              example: 6
            promo_min_pay_type:
              type: string
              enum:
                - AM
                - PERCENT_INTEREST
                - PERCENT_PRINCIPAL
              description: Current due calculation method for the promotional period.
              example: PERCENT_PRINCIPAL
            promo_purchase_window_len:
              type: number
              description: If applicable, the number of billing cycles from account
                origination under which this product falls under a purchas
                window period.
              example: 5
            promo_min_pay_percent:
              type: number
              description: Defaults to 100. The percent of new interest in the cycle used to
                determine the minimum payment.
              example: 100
            promo_interest_deferred:
              type: boolean
              description: Indicates whether interest accrued during the promotional period is
                deferred interest.
              example: true
            promo_default_interest_rate_percent:
              type: number
              description: The rate that serves as the active interest rate for accounts
                during the promotional period.
              example: 3
            promo_apr_range_inclusive_lower:
              type: number
              description: Optional lower bound for APR Range for the product (i.e. 2 = 2%).
              example: 2
            promo_apr_range_inclusive_upper:
              type: number
              description: Optional upper bound for APR Range for the product (i.e. 5 = 5%).
              example: 5
        post_promotional_policies:
          type: object
          properties:
            post_promo_default_am_len:
              type: integer
              description: Default duration for the amortization period during post-promotion
              example: 48
            post_promo_am_len_range_inclusive_lower:
              type: number
              description: Optional lower bound for amortization length in billing cycles for
                the product.
              example: 2
            post_promo_am_len_range_inclusive_upper:
              type: number
              description: Optional upper bound for amortization length in billing cycles for
                the product.
              example: 5
            post_promo_min_pay_type:
              type: string
              enum:
                - AM
                - PERCENT_INTEREST
                - PERCENT_PRINCIPAL
              description: Current due calculation method for the post-promotional period.
              example: AM
            post_promo_default_interest_rate_percent:
              type: number
              description: The rate that serves as the active interest rate for accounts
                during the post-promotional period.
              example: 3
            post_promo_apr_range_inclusive_lower:
              type: number
              description: Optional lower bound for APR Range for the product (i.e. 2 = 2%).
              example: 2
            post_promo_apr_range_inclusive_upper:
              type: number
              description: Optional upper bound for APR Range for the product (i.e. 5 = 5%).
              example: 5
        product_summary:
          type: object
          description: Summary of product information
          properties:
            accounts_overview:
              type: object
              required:
                - account_count_total
              properties:
                account_count_total:
                  type: integer
                  description: Total number of accounts under the product.
                  example: 10005
    ProductSummary:
      type: object
      description: Summary of product information
      properties:
        accounts_overview:
          type: object
          required:
            - account_count_total
          properties:
            account_count_total:
              type: integer
              description: Total number of accounts under the product.
              example: 10005
    ProductAccounts:
      type: object
      description: ""
      required:
        - current_accounts
      properties:
        current_accounts:
          type: array
          description: Array of Accounts that are currently using this Product
          items:
            type: string
            description: Account ID
            format: uuid
            example: 5e860ad7-5fff-4130-844c-ec9ead83a025
    BasePolicyConfig:
      type: object
      additionalProperties: false
      required:
        - min_pay
        - billing_cycle
        - interest_policies
        - close_of_business_and_timezone
      properties:
        payment_due_policies:
          $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
            rties/payment_due_policies"
        fee_policies:
          $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
            rties/fee_policies"
        billing_cycle_policies:
          $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
            rties/billing_cycle_policies"
        interest_policies:
          $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
            rties/interest_policies"
      description: A base group of policies that define a Product
    BasePolicyConfigMinPay:
      type: object
      required:
        - percentage
      properties:
        percentage:
          type: number
          description: The percentage of total balance calculated for min pay. (i.e. 20
            means 20%)
          example: 20
      description: The configured minimum payment required for a given pay period.
    BasePolicyConfigBillingCycle:
      type: object
      required:
        - period
        - billing_due_date_interval
      properties:
        period:
          type: string
          description: The length of the billing cycle. after which a statement is
            generated, and a due date assigned. IE '1 month' '3 months' or '7
            days' (most common is monthly)
          format: interval
          example: 1 month
        billing_due_date_interval:
          type: string
          description: The amount of time you would like between the statement cut and the
            billing due date. IE '25 days'.  Cannot exceed the start of the next
            billing cycle and generally needs to be at least 21 days.
          format: interval
          example: 25 days
      description: The Billing Cycle Object
    InterestPolicy:
      type: object
      additionalProperties: false
      required:
        - type
        - method
        - day_calc_type
        - interest_calc_time
      properties:
        type:
          type: string
          enum:
            - compound
          example: compound
        method:
          type: string
          description: The actual base formula used to calculate and assign interest.
          enum:
            - average daily balance
          example: average daily balance
        day_calc_type:
          type: string
          description: Affects the base calculation by determining how many days there are
            in a given year.
          enum:
            - "365"
          example: "365"
        interest_calc_time:
          type: string
          description: Interest for this policy is calculated at this time every X interval.
          format: date-time
          example: 05:00:00
      description: The Interest Policy Object
    LineItem:
      type: object
      required:
        - account_id
        - line_item_id
        - effective_at
        - created_at
        - product_id
      properties:
        account_id:
          type: integer
          description: The account associated with the line item
          example: 4
        line_item_id:
          type: integer
          description: The ID associated with the line item
          example: 2
        effective_at:
          type: string
          description: The `Date-Time` that this line item became/becomes active
          format: date-time
          example: 2018-07-20T09:12:30Z
        created_at:
          type: string
          description: The `Date-Time` which the line item was created.
          format: date-time
          example: 2018-06-20T09:12:30Z
        product_id:
          type: string
          description: the Product ID of the account
          format: uuid
          example: 158cd7a1-d813-42d2-90a3-9a91c43f18f8
        line_item_overview:
          type: object
          required:
            - line_item_status
            - line_item_type
          properties:
            line_item_status:
              type: string
              description: the corresponding Status for a line item
              enum:
                - VALID
                - INVALID
              example: VALID
            line_item_type:
              type: string
              description: The Line Item Type. i.e. `CHARGE`, `PAYMENT`.
              enum:
                - CHARGE
                - PAYMENT
                - FEE
              example: CHARGE
            description:
              type: string
              description: A description of this particular line item if any. More common for
                adjustments.
              example: Refund for invalid purchase
        line_item_summary:
          type: object
          required:
            - original_amount_cents
            - balance_cents
            - principal_cents
            - total_interest_accrued_cents
          properties:
            original_amount_cents:
              type: integer
              description: The originating amount of money (in cents) relating to this line
                item.
              example: 2385
            balance_cents:
              type: integer
              description: The current balance of the line item, which accounts for interest
                accrued per the `product's` interest policy and the `account's`
                interest rate attribute.
              example: 2401
            principal_cents:
              type: integer
              description: The principal balance of the line item.
              example: 2400
            total_interest_accrued_cents:
              type: integer
              description: The sum (in cents) of all interest charges, if any, applied to this
                line item
              example: 16
        merchant_data:
          type: object
          description: Merchant information if applicable.
          properties:
            name:
              type: string
            id:
              type: string
            mcc_code:
              type: number
            phone_number:
              type: string
              format: phonenumber
        external_fields:
          type: array
          description: An array of static references to fields in a third party system.
          items:
            type: object
            properties:
              key:
                type: string
                description: Key - i.e. Name of the External Party
                example: Globex Card Processing Account ID
              value:
                type: string
                description: Value - i.e. External Account ID
                example: 22445702-a389-431f-927d-07b8d0750787
  requestBodies:
    LogInApiUser:
      description: Provide valid credentials to sign in to Canopy and receive a token
        to make subsequent API requests.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - EMAIL
              - PASSWORD
            properties:
              email:
                type: string
                format: email
                description: The email address of the API User logging in
                example: marissa@globex.com
              password:
                type: string
                description: The password of the user logging in.
                example: secretPassword123!
    UpdateApiUserPassword:
      description: Provide valid credentials, this route updates an API User's password.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - current_password
              - new_password
              - token
            properties:
              current_password:
                type: string
                description: The password of the user changing their password.
                example: currentSecretPassword123!
              new_password:
                type: string
                description: The new password of the user changing their password.
                example: newSecretPassword123!
              token:
                type: string
                description: A unique token included in Canopy's reset password email.
    RegisterApiUser:
      description: Provide valid credentials, this route updates an API User's password.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - email_confirm
              - new_password
              - name_first
              - name_last
              - phone
              - token
            properties:
              email_confirm:
                type: string
                format: email
                description: The email address of the user being updated.
                example: harriet@acmecorporation.com
              new_password:
                type: string
                description: The new password of the API user.
                example: newSecretPassword123!
              name_first:
                type: string
                description: The first name of the API user.
                example: Karl
              name_last:
                type: string
                description: The last name of the API user.
                example: Martins
              phone:
                type: string
                format: phonenumber
                description: The phone number to add to the API User's information.
                example: 1-222-222-2222
              token:
                type: string
                description: A unique token included in Canopy's register user email.
    CreateProduct:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            required: []
            additionalProperties: false
            properties:
              product_overview:
                type: object
                required:
                  - product_name
                  - product_type
                  - product_short_description
                  - product_long_description
                description: A series of static fields about the product.
                properties:
                  external_product_id:
                    type: string
                    description: A unique external ID that may be used interchangeably with the
                      Canopy-generated product ID
                    example: 95fea111-d121-40f8-9e8e-a6c335e48a45
                  product_name:
                    type: string
                    description: Name of Product, i.e. BNPL 24 Month Standard.
                    example: BNPL 24 Month Standard
                  product_type:
                    type: string
                    description: The Type of Product
                    enum:
                      - REVOLVING
                      - INSTALLMENT
                      - MIXED_RATE_INSTALLMENT
                      - DEFERRED_INSTALLMENT
                      - FIXED_RATE_INSTALLMENT
                    example: REVOLVING
                  product_short_description:
                    type: string
                    description: A short description of the product ranging from 0 - 60 characters.
                    example: 12mm3apr.
                  product_long_description:
                    type: string
                    description: Description of the Product ranging from 0 - 1000.
                    example: Student credit card.
                  product_color:
                    type: string
                    description: A color to be associated with the product for UI purposes.
                    example: "#0000FF"
              product_lifecycle_policies:
                type: object
                properties:
                  payment_due_policies:
                    $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
                      rties/payment_due_policies"
                  fee_policies:
                    $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
                      rties/fee_policies"
                  billing_cycle_policies:
                    $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
                      rties/billing_cycle_policies"
                  interest_policies:
                    $ref: "#/components/schemas/Product/properties/product_lifecycle_policies/prope\
                      rties/interest_policies"
                  default_attributes:
                    required:
                      - default_credit_limit_cents
                    type: object
                    properties:
                      default_credit_limit_cents:
                        type: integer
                        description: The default maximum principal credit (in cents) available for a
                          customer account. For risk-based-pricing, this default
                          limit can be overridden on a per-account basis if a
                          `credit_limit` is selected at the time of assigning an
                          account to a product in the `Create Account` call.
                          Credit limits for an account can also be updated
                          post-account creation.
                        example: 600000
              promotional_policies:
                type: object
                description: If applicable, a promotional configuration for the product.
                required: []
                properties:
                  promo_len:
                    type: integer
                    description: Defaults to 0. The number of billing cycles from account
                      origination during which accounts on this product are on a
                      promotional period.
                    example: 6
                  promo_min_pay_type:
                    type: string
                    enum:
                      - AM
                      - "%INTEREST"
                      - "%PRINCIPAL"
                    description: Current due calculation method for the promotional period.
                    example: PERCENT_PRINCIPAL
                  promo_purchase_window_len:
                    type: number
                    description: If applicable, the number of billing cycles from account
                      origination under which this product falls under a purchas
                      window period.
                    example: 5
                  promo_interest_deferred:
                    type: boolean
                    description: Indicates whether interest accrued during the promotional period is
                      deferred interest.
                    example: true
                  promo_default_interest_rate_percent:
                    type: number
                    description: The rate that serves as the active interest rate for accounts
                      during the promotional period.
                    example: 3
                  promo_min_pay_percent:
                    type: number
                    description: Defaults to 100. The percent of new interest in the cycle used to
                      determine the minimum payment.
                    example: 100
                  promo_apr_range_inclusive_lower:
                    type: number
                    description: Optional lower bound for APR Range for the product (i.e. 2 = 2%).
                    example: 2
                  promo_apr_range_inclusive_upper:
                    type: number
                    description: Optional upper bound for APR Range for the product (i.e. 5 = 5%).
                    example: 5
              post_promotional_policies:
                type: object
                properties:
                  post_promo_default_am_len:
                    type: integer
                    description: Default duration for any amortization period during post-promotion
                    example: 48
                  post_promo_am_len_range_exclusive_lower:
                    type: number
                    description: Optional lower bound for amortization length in billing cycles for
                      the product.
                    example: 2
                  post_promo_am_len_range_inclusive_upper:
                    type: number
                    description: Optional upper bound for amortization length in billing cycles for
                      the product.
                    example: 5
                  post_promo_min_pay_type:
                    type: string
                    enum:
                      - AM
                      - "%INTEREST"
                      - "%PRINCIPAL"
                    description: Current due calculation method for the post-promotional period.
                    example: AM
                  post_promo_default_interest_rate_percent:
                    type: number
                    description: The rate that serves as the active interest rate for accounts
                      during the post-promotional period.
                    example: 3
                  post_promo_apr_range_inclusive_lower:
                    type: number
                    description: Optional lower bound for APR Range for the product (i.e. 2 = 2%).
                    example: 2
                  post_promo_apr_range_inclusive_upper:
                    type: number
                    description: Optional upper bound for APR Range for the product (i.e. 5 = 5%).
                    example: 5
    CreateCustomer:
      description: Create a new customer
      required:
        - name_first
        - name_last
        - phone_number
        - address_line_one
        - address_city
        - address_state
        - address_zip
        - ssn
        - email
        - date_of_birth
      content:
        application/json:
          schema:
            type: object
            properties:
              name_prefix:
                type: string
                description: Prefix to the customer's name
                example: Dr.
              name_first:
                type: string
                description: Customer's first name
                example: Miriam
              name_middle:
                type: string
                description: Customer's middle name
                example: Louise
              name_last:
                type: string
                description: Customer's last name
                example: Trevino
              name_suffix:
                type: string
                description: Prefix to the customer's name
                example: Jr
              phone_number:
                type: string
                format: phonenumber
                description: Phone number of the customer
                example: 555-555-5555
              address_line_one:
                type: string
                description: Address line one
                example: 12 Strawberry Road
              address_line_two:
                type: string
                description: Address line two
                example: Suite 101
              address_city:
                type: string
                description: Address city
                example: Atlanta
              address_state:
                type: string
                description: Address state
                example: GA
              address_zip:
                type: string
                description: Address zip code
                example: 99999-1000
              ssn:
                type: string
                description: Social security number of the customer
                example: 888-88-8888
              email:
                type: string
                format: email
                description: The email address of this Customer
                example: marissa@protonmail.com
              date_of_birth:
                type: string
                format: date-time
                description: Customer's date of birth
                example: 2018-06-20T09:12:30Z
              accounts:
                type: array
                description: >-
                  An array of existing accounts to which this Customer should be
                  assigned. 
                   
                   If left empty, the customer will not be assigned to any accounts, and can be later assigned to an account via the [Update an existing customer](https://docs.canopyservicing.com/#operation-put-accounts-parameter) route. 
                   
                   Customers only become meaningful agents in Canopy's servicing system once they are assigned to accounts.
                items:
                  type: object
                  properties:
                    account_id:
                      type: string
                      format: uuid
                      description: This is generated by Canopy. A unique ID for the account.
                      example: 5fb3a288-5f6c-440f-b079-b06c828b7768
                    customer_account_role:
                      type: integer
                      description: The role of the customer for the account. For instance, 1 may
                        correspond to a primary account holder while 2
                        corresponds to secondary.
                      enum:
                        - "1"
                        - "2"
                      example: 1
                    customer_account_pan:
                      type: string
                      description: A unique number for the customer on the account. For instance, a
                        credit card number. If none is provided, a
                        Canopy-generated ID can be used.
                      example: "4465220133024156"
    UpdateCustomer:
      description: Update an existing customer
      content:
        application/json:
          schema:
            type: object
            properties:
              name_prefix:
                type: string
                description: Prefix to the customer's name
                example: Dr.
              name_first:
                type: string
                description: Customer's first name
                example: Miriam
              name_middle:
                type: string
                description: Customer's middle name
                example: Louise
              name_last:
                type: string
                description: Customer's last name
                example: Trevino
              name_suffix:
                type: string
                description: Prefix to the customer's name
                example: Jr
              phone_number:
                type: string
                format: phonenumber
                description: Phone number of the customer
                example: 555-555-5555
              address_line_one:
                type: string
                description: Address line one
                example: 12 Strawberry Road
              address_line_two:
                type: string
                description: Address line two
                example: Suite 101
              address_city:
                type: string
                description: Address city
                example: Atlanta
              address_state:
                type: string
                description: Address state
                example: GA
              address_zip:
                type: string
                description: Address zip code
                example: 99999-1000
              email:
                type: string
                format: email
                description: The email address of this Customer
                example: marissa@protonmail.com
              ssn:
                type: string
                description: Social security number of the customer
                example: 888-88-8888
              date_of_birth:
                type: string
                format: date-time
                description: Customer's date of birth
                example: 2018-06-20T09:12:30Z
              account_id:
                type: integer
                description: The ID of the account for which you are updating the customer's
                  information. (I.e. change the customer's address for this
                  account) .
                example: 6
              new_accounts:
                type: array
                description: An array of existing accounts to which this Customer will be newly
                  assigned.
                items:
                  type: object
                  properties:
                    account_id:
                      type: integer
                      description: This is generated by Canopy. A unique ID for the account.
                      example: 11
                    customer_account_role:
                      type: string
                      description: The role of the customer for the account.
                      enum:
                        - primary
                        - secondary
                      example: primary
                    customer_account_pan:
                      type: string
                      description: A unique number for the customer on the account. For instance, a
                        credit card number. If none is provided, a
                        Canopy-generated ID can be used.
                      example: "4465220133024156"
    CreateAccount:
      description: Create a new account
[...]
